<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DinersCode｜Get free drinks and perks at amazing restaurants</title>
    <meta name="description" content="DinersCode provides frequent diners with welcome drinks, free perks, and priority reservations at best restaurants in Manhattan. The service is completely free and the more you dine the more perks you get! Discover great restaurants and make amazing savings.">
    
    <meta name="google-site-verification" content="IpzHnu5Fm9A5dNf5ZGU0SscMp1sfHN163yKuklWRx_8" />

    <meta property="og:url" content="http://www.dinerscode.com"/>
    <meta property="og:type" content="article" />
    <meta property="og:title" content="DinersCode｜Get free drinks and perks at amazing restaurants" />
    <meta property="og:image" content="http://www.dinerscode.com/images/other_images/wine2.jpg" />
    <meta property="og:description" content="DinersCode provides frequent diners with welcome drinks, free perks, and priority reservations at best restaurants in Manhattan. The service is completely free and the more you dine the more perks you get! Discover great restaurants and make amazing savings." />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <!-- favicon -->
    <link rel="icon" type="image/png" href="images/other_images/logo_app.png">

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- vegas bg -->
    <link href="/js/vegas/jquery.vegas.min.css" rel="stylesheet">
    <!-- owl carousel css -->
    <link href="/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="/js/owl-carousel/owl.theme.css" rel="stylesheet">
    <link href="/js/owl-carousel/owl.transitions.css" rel="stylesheet">
    <!-- intro animations -->
    <link href="/js/wow/animate.css" rel="stylesheet">
    <!-- font awesome -->
    <link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- lightbox -->
    <link href="/js/lightbox/css/lightbox.css" rel="stylesheet">

    <!-- styles for this template -->
    <link href="/css/styles.css" rel="stylesheet">

    <!-- place your extra custom styles in this file -->
    <link href="/css/custom.css" rel="stylesheet">

        <link href="/css/base.css" rel="stylesheet">

        <script type="text/javascript" src="js/modernizr.js"></script>

    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript">
      Stripe.setPublishableKey('{{pub_key}}');
      function stripeResponseHandler(status, response) { 
          if (response.error) {
              // re-enable the submit button
              $('.submit-button').removeAttr("disabled");
              // show the errors on the form
              $(".form-general-error-container").html('<div class="alert">'+response.error.message+'</div>').fadeIn("fast");
              
          } else {
              var form$ = $("#payment-form");
              // token contains id, last4, and card type
              var token = response['id'];
              // insert the token into the form so it gets submitted to the server
              $('#stripeToken').val(token);
              // and submit
              form$.get(0).submit();
          }
      }
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 
      ga('create', 'UA-67038435-1', 'auto');
      ga('send', 'pageview');
    </script>

  

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body style="background-color:black; overflow: hidden;">
    <script type="text/javascript" src="js/main.js"></script>

    <!-- Outer Container -->
    <div id="outer-container" >

      <section>
        
        {% block body%}{% endblock %}

      </section><!-- #main-content -->    

    </div><!-- #outer-container -->
    <!-- end: Outer Container -->

    <!-- Modal -->
    <!-- DO NOT MOVE, EDIT OR REMOVE - this is needed in order for popup content to be populated in it -->
    <div class="modal fade" id="common-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div class="modal-body clearfix">
          </div><!-- .modal-body -->
        </div><!-- .modal-content -->
      </div><!-- .modal-dialog -->
    </div><!-- .modal -->    

    <!-- Javascripts
    ================================================== -->

    <!-- Jquery and Bootstrap JS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <!-- Easing - for transitions and effects -->
    <script src="/js/jquery.easing.1.3.js"></script>

    <!-- background image strech script -->
    <script src="/js/vegas/jquery.vegas.min.js"></script>

    <!-- detect mobile browsers -->
    <script src="/js/detectmobilebrowser.js"></script>

    <!-- detect scrolling -->
    <script src="/js/jquery.scrollstop.min.js"></script>

    <!-- owl carousel js -->
    <script src="/js/owl-carousel/owl.carousel.min.js"></script>

    <!-- lightbox js -->
    <script src="/js/lightbox/js/lightbox.min.js"></script>

    <!-- intro animations -->
    <script src="/js/wow/wow.min.js"></script>

    <!-- responsive videos -->
    <script src="/js/jquery.fitvids.js"></script>

    <!-- Custom functions for this theme -->
    <script src="/js/functions.js"></script>
    <script src="/js/initialise-functions.js"></script>

    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

    <!-- IE9 form fields placeholder fix -->
    <!--[if lt IE 9]>
    <script>contact_form_IE9_placeholder_fix();</script>
    <![endif]-->  
    
    <script> 
    $( document ).ready(function() {

        $("#avatarBox1").mouseover(function(){
          $("#avatarBox1").attr('src', '/img/index_images/BLT Steak c.jpg');
        })
        .mouseout(function(){
          $("#avatarBox1").attr('src', '/img/index_images/BLT STEAK.jpg');
        });

        $("#avatarBox2").mouseover(function(){
          $("#avatarBox2").attr('src', '/img/index_images/CHEFS CLUB c.jpg');
        })
        .mouseout(function(){
          $("#avatarBox2").attr('src', '/img/index_images/CHEFS CLUB.jpg');
        });

        $("#avatarBox3").mouseover(function(){
          $("#avatarBox3").attr('src', '/img/index_images/Blue Bottle c.jpg');
        })
        .mouseout(function(){
          $("#avatarBox3").attr('src', '/img/index_images/BLUE BOTTLE.jpg');
        });

        $("#avatarBox4").mouseover(function(){
          $("#avatarBox4").attr('src', '/img/index_images/Ivan Ramen c.jpg');
        })
        .mouseout(function(){
          $("#avatarBox4").attr('src', '/img/index_images/IvanRamen.jpg');
        });

        $("#avatarBox5").mouseover(function(){
          $("#avatarBox5").attr('src', '/img/index_images/Ootoya c.jpg');

        })
        .mouseout(function(){
          $("#avatarBox5").attr('src', '/img/index_images/OOTOYA.jpg');
        });


        $("#avatarBox6").mouseover(function(){
          $("#avatarBox6").attr('src', '/img/index_images/Margot Patisserie c.jpg');
          // $("#avatarBox6").width('120px');        
        })
        .mouseout(function(){
          $("#avatarBox6").attr('src', '/img/index_images/MARGOT PATISSERIE.jpg');
        });


        $("#avatarBox7").mouseover(function(){
          $("#avatarBox7").attr('src', '/img/index_images/Ameli Wine Bar c.jpg');
        })
        .mouseout(function(){
          $("#avatarBox7").attr('src', '/img/index_images/AMELIE WINE BAR.jpg');
        });

        $("#avatarBox8").mouseover(function(){
          $("#avatarBox8").attr('src', '/img/index_images/Vice Versa c.jpg');
        })
        .mouseout(function(){
          $("#avatarBox8").attr('src', '/img/index_images/VICE VERSA.jpg');
        });
        
        $("#contacts_home_tab").click(function() {
          $(window).scrollTop(1200);
        });

    });

    
    </script>

  </body>
</html>
