{% extends "base2.html" %}

{% block title %}

Questions

{% endblock %}

{% block body %}

<!--title-->
<center> 


      <div id ="logo" >
      
        <a href ="/">

      <img src = "/images/other_images/folder.jpg"> 

       </a>
       <h6 id="dinerstitle">
    <a href="/"> DINERSCODE 
    </a>
   </h6>
     </div>
   

</center>

<!--container-->
 <div class="my-fluid-container2" data-spy="scroll"  >

  <center>
        <article >


          <div id="confirm" class="section">  
                     <h2 class="confirm"> Thank you for signing up at DinersCode. </h2>
          <h2 class="confirm2" > Check your inbox and start enjoying the perks-  don’t forget the junk folder! </h2>
          <br>
          <br>
          <h2 class="confirm3"> <a href="/" onmouseover="this.style.color='#ffd27f';" onmouseout="this.style.color='white';"> Return Home. </a> </h2>
            
          
        </article><!-- .section-wrapper -->
  </center>

                  <!--Contacts Tab-->

                  <center>
                    <div id="contact" class="section">

                      <div class="col-sm-12">
                        <h6 >

                        <a href="/contact" >Contact us  </a>  - 
                        <a href="/privacypolicy" target="_blank">Privacy  </a> 
                        -
                        <a href="/terms" target="_blank">Terms of Service  </a> -
                        <a href="/faq"> 
                         FAQ
                        </a>

                        </h6>
                      </div>



                    </div>

                  </center>
      </div>

{% endblock %}