{% extends "base2.html" %}

{% block title %}

Questions

{% endblock %}

{% block body %}

    <center>

       <center>

      <div id ="logo" >

        <a href ="/">

      <img src = "/images/other_images/folder.jpg">

       </a>
       <h6 id="dinerstitle">
    <a href="/"> DINERSCODE
    </a>
   </h6>
     </div>

 </center>


       <div class="my-fluid-container" data-spy="scroll"  >

          <div id="contactPage" class="section">


              <div id="content" align="center" style="position:relative;top:180px" >
          <p> SUPPORT </p>
          <p style="color:black"> For questions and requests to add new restaurants. <br>
Contact us at: <a href="mailto:support@dinerscode.com" style="color:blue;text-decoration:underline">support@dinerscode.com </a></p>


                <p> MEDIA </p>
          <p> Want to get in touch with our media team? <br>
Contact us at: <a href="mailto:media@dinerscode.com" style="color:blue;text-decoration:underline">media@dinerscode.com </a></p>

           <p> PARTNERSHIPS</p>
          <p> You’re a business and want to work with us? <br>
    Contact us at: <a href="mailto:partnerships@dinerscode.com" style="color:blue;text-decoration:underline">partnerships@dinerscode.com</a></p>


              </div>


          </div>


            </div>


        </div>





        </div ><!-- .section-wrapper -->





        <!--Contacts Tab-->


{% endblock %}