{% extends "base3.html" %}

{% block title %}

FAQ

{% endblock %}

{% block body %}

        <center >
          <h2 style="font-size:30px"> FAQ </h2>
           
        </center><!-- .section-wrapper -->  

         <!-- FAQ TAB -->
                <div id="faq" style="margin-left:5px"class="section">
                

                    <div class="col-sm-6 " style="padding:40px">


                    <p id=""  >
                      <strong>What kind of places can I get perks at?</strong>
                    </p>

                     <p id ="" >
                  We cover a wide range of popular eateries from casual sandwich joints to fine dining restaurants in Manhattan. They are all rated over 3.5 on yelp.
                    </p>

                         <p id=""  >
                      <strong>Are there any hidden fees?</strong>
                    </p>

                     <p id ="" >
               No. We are offering this service to you completely free of charge. All you have to do is love eating out!
                    </p>

                      
                    <p id=""  >
                      <strong>I am seeing different perks from my friends. Why?</strong>
                    </p>

                     <p id ="" >
               Eateries sometimes have target customer types, and we control who sees the perks in that case. Generally speaking, you can unlock more perks by redeeming more perks, showing up on time for your reservations, and being a nice customer!
                    </p>
                 
                  
                
                    <p id=""><strong>I tried to redeem the perks but didn't work. What is going on?
                    </strong></p>
                    
                    <p id ="" style="">
                   We are very sorry that this is happening. Sometimes the eateries have new employees who have not been informed about our service. Please ask to speak to a manager in this case and show your screen of DinersCode with the perks. If the problem persists, please email 
                   <a href="mailto:feedback@dinerscode.com" style="color:#F9DC8C;">feedback@dinerscode.com</a>. We will respond immediately.


                    </p>
                    
               

                   
                  </div>

                  <!--end of first div-->

                  <div class="col-sm-6 " style="padding:40px">

                     <h6 class="faqsubtitle"  ><strong>Does everyone see the same list of restaurants/cafes/bars?</strong></h6>
                    
                    <p id ="">
                     No. Depending on your dining frequency, preferences, and feedback from the eateries, we customize the list of eligible perks for you.
                   </p>

                         <p id="" ><strong>Would I always see the same perks?</strong></p>
                    
                    <p id ="">
                     You will see both our regular and seasonal perks. Share your favorite places with us and we will work to add them to our list.
                   </p>

                   
                    <p id="" ><strong>I have a favorite eatery that I would like to receive perks from. What can you do?</strong></p>
                    
                    <p id ="">
                     Please email us the name and the owner/manager of the eatery. We will contact them immediately and try our best to make your wish come true!

                    </p>

                     <p id="quote5" style=""><strong>I am running late to my reservation or I want to cancel a reservation. What do I do?
                    </strong></p>
                    
                    <p id ="quote5child" >
                   We strongly encourage informing the eateries right away. The perks we offer are privileges for diners who are bona-fide participants of our diners’ community.  No-shows can damage your reputation and decrease the perks you will be able to see in the future.

                    </p>
                    
                          <p id="quote5" style=""><strong>Privacy Policy?
                    </strong></p>
                    
                    <p id ="quote5child" >
                     Our Privacy Policy in its entirety can be viewed 
                     <a href ="/privacypolicy" target="_blank" style="color:#F9DC8C"> here</a>.

                    </p>
                               
                    
                  </div>

                  <div class="row">
                    <div class="col-xs-10"></div>
                      <div class="col-xs-2" >
                        <a href="/">
                          Return Home                    
                        </a>
                      </div>
                  </div>
                  
                  
  

                </div>




{% endblock %}