{% extends "base.html" %}

{% block title %}

DinersCode | FAQ

{% endblock %}

{% block body %}

        <article id="tabs" class="section-wrapper clearfix" data-custom-background-img="/images/other_images/pic17.png">
            <div class="content-wrapper clearfix">
                <h1 class="section-title" style="font-size:30px;" align="left">FAQ</h1>

                <div class="tabpanel styled-tabs uniform-height" role="tabpanel">

                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist" text-hidden-xs="true">
                    <li role="presentation" class="active"><a href="#tabs-tab1" aria-controls="tabs-tab1" role="tab" data-toggle="tab"><i class="icon fa fa-cutlery"></i><span>Restaurants</span></a></li>
                    <li role="presentation"><a href="#tabs-tab2" aria-controls="tabs-tab2" role="tab" data-toggle="tab"><i class="icon fa fa-coffee"></i><span>Perks</span></a></li>
                    <li role="presentation"><a href="#tabs-tab3" aria-controls="tabs-tab3" role="tab" data-toggle="tab"><i class="icon fa fa-book"></i><span>Others</span></a></li>
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">

                    <div role="tabpanel" class="tab-pane fade in active" id="tabs-tab1">
                      <h6 style="color:#e4d2ba"><span class="icon fa fa-cube"></span> What kind of places can I get perks at?</h6>
                      <p >We cover a wide range of popular eateries from casual sandwich joints to fine dining restaurants in Manhattan. They are all rated over 3.5 on yelp.</p>

                      <h6 style="color:#e4d2ba"><span class="icon fa fa-cube"></span> Does everyone see the same list of restaurants/cafes/bars?</h6>
                      <p>No. Depending on your dining frequency, preferences, and feedback from the eateries, we customize the list of eligible perks for you.</p>

                      <h6 style="color:#e4d2ba"><span class="icon fa fa-cube"></span> I have a favorite eatery that I would like to receive perks from. What can you do?</h6>
                      <p>Please email us the name and the owner/manager of the eatery. We will contact them immediately and try our best to make your wish come true!</p>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="tabs-tab2">
                      <h6 style="color:#e4d2ba"><span class="icon fa fa-cube"></span> Would I always see the same perks?</h6>
                      <p>You will see both our regular and seasonal perks. Share your favorite places with us and we will work to add them to our list.</p>

                      <h6 style="color:#e4d2ba"><span class="icon fa fa-cube"></span> I am seeing different perks from my friends. Why?</h6>
                      <p>Eateries sometimes have target customer types, and we control who sees the perks in that case. Generally speaking, you can unlock more perks by redeeming more perks, showing up on time for your reservations, and being a nice customer :)</p>

                      <h6 style="color:#e4d2ba"><span class="icon fa fa-cube"></span> I tried to redeem the perks but didn't work. What is going on?</h6>
                      <p>We are very sorry that this is happening. Sometimes the eateries have new employees who have not been informed about our service. Please ask to speak to a manager in this case and show your screen of DinersCode with the perks. If the problem persists, please email feedback@dinerscode.com. We will respond immediately.</p>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="tabs-tab3">
                      <h6 style="color:#e4d2ba"><span class="icon fa fa-cube"></span> Are there any hidden fees?</h6>
                      <p>No. We are offering this service to you completely free of charge. All you have to do is love eating out!</p>

                      <h6 style="color:#e4d2ba"><span class="icon fa fa-cube"></span> I am running late to my reservation or I want to cancel a reservation. What do I do?</h6>
                      <p>We strongly encourage informing the eateries right away. The perks we offer are privileges for diners who are bona-fide participants of our diners’ community.  No-shows can damage your reputation and decrease the perks you will be able to see in the future.</p>

                      <h6 style="color:#e4d2ba"><span class="icon fa fa-cube"></span> Privacy Policy?</h6>
                      <p>Our Privacy Policy in its entirety can be viewed <a href="http://www.dinerscode.com/privacypolicy" target="_blank">here</a>.</p>
                    </div>

                  </div><!-- .tab-content -->

                </div><!-- .tabpanel -->
            </div>
        </article><!-- .section-wrapper -->  

{% endblock %}
