{% extends "base.html" %}

{% block title %}

DinersCode | Your Perks

{% endblock %}

{% block body %}

        <article id="featured" class="section-wrapper clearfix" data-custom-background-img="/images/other_images/pic11.png">
        	<div class="content-wrapper clearfix">
		        <div class="col-md-12" alien="center">
		            <h1 class="section-title" style="font-size:30px;" align="left">Find Your Perks</h1>

		          	<center>

		                <form class="form-style validate-form clearfix" action="{{ url_for('search') }}" method="POST" role="form">

				            	<div class="col-md-6" align="center">
				            		<div class="form-group">
		                        		<p style="font-size:18px;">
					            			<label class="sr-only">Search Restaurant</label>
		                        			{{form.search_key(class="form-control", placeholder="Search Restaurant or Cusine", onclick="select()")}}
	                        			</p>
		                        	</div>
		                        </div>
		
		                        <div class="col-md-3" align="center">
				            		<div class="form-group" >
		                        		<p style="font-size:18px;">
					            			<label class="sr-only">Area</label>
		                        			{{form.place(class_="btn btn-default dropdown-toggle form-control")}}
		                        		</p>
		                        	</div>
		                        </div>
		                        <div class="col-md-3" align="center">
				            		<div class="form-group" >
		                        		<p style="font-size:18px;">
					            			<label class="sr-only">Color</label>
		                        			{{form.rank(class_="btn btn-default dropdown-toggle form-control")}}
		                        		</p>
		                        	</div>
		                        </div>
		             			<div class="col-md-12" align="center">
				            		<div class="form-group" >
		                        		<p style="font-size:18px;">
		                        			{{ form.submit(class_="btn btn-xs btn-outline-inverse2") }}
		                        		</p>
		                        	</div>
		                        </div>	
		             	</form>

		             	{% if success %}
		                <section class="feature-columns row clearfix">


							<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
							
							<script>
							start = 0; 
							showRestaurants(0);	
							function showRestaurants (start) {
								$.getJSON("/home?offset=" + start).then(function(data) {
									var restaurants = data.restaurants;

									for(var i=0; i<restaurants.length; i++) {
										var restaurant = restaurants[i];
										$(".feature-columns").append(
											"<article class='feature-col col-md-4 rst-listing'>" +
												"<a href='/description/" + restaurant.url + "' class='thumbnail linked' style='max-width:600px;'>" + 
													"<div class='image-container' style='width:100%; height:180px; text-align:center;'>" + 
														"<img data-img-src='http://admin.neurodining.com/images/gallery/" + restaurant.img + "' class='lazy item-thumbnail' style='width:300px; height:180px; text-align:center;'>" +  
													"</div>" + 
													"<!--===============CAPTION =================-->" + 
													"<div class='caption' align='center' style='height:180px;'>" + 	
														"<h5>" + restaurant.name + "</h5>" + 
														"<p style='font-size:18px;'>" + restaurant.area + "</p>" + 
														"<p style='font-size:18px;'>" + restaurant.cuisine + "</p>" + 
													"</div>" + 
												"</a>" + 
											"</article>"
										);
									}
									
									if (restaurants.length < 18) {
										$('#seebutton').hide();
									}
									else{
										$(".feature-columns").append(
										"<div id='seebutton' class='col-md-12 form-group'>" + 
					                        "<input type='submit' name='submit' class='btn btn-sm btn-outline-inverse2' value='See All'" +
					                         "onclick='showRestaurants(18,50)'/>" +
					                        "<img src='/images/theme_images/loader-form.GIF' class='form-loader' style='display:none' id='load'>"+
					                    "</div>");
					                    $("#seebutton").click(function(){
					                    	$('#load').show();
										});

										}	
									console.log(end);
								});							
							}
						</script>				            

		                {% endif %}

		        	</center>

		        	<div class="content-to-populate-in-modal" id="{{show}}">
		            	<h5><span class="icon fa fa-cutlery"></span> No restaurant found. </p>
		          	</div>

		        </div>
		    </div>
        </article><!-- .section-wrapper -->

{% endblock %}




