{% extends "base3.html" %}

{% block title %}
Privacy Policy
{% endblock %}

{% block body %}

<div class="subpagephoto">
    <div class = "row">
        <div class = "col-md-offset-1 col-md-9" align="left">
                <strong class="hide-for-small">
                    <div class="subpageheading">
                        <h1><span class="subpagetext" style="color:#E9E0DB">DINERSCODE PRIVACY POLICY</span></h1>
                    </div>
                </strong>

            <div class="paragraph">
                    <p><span class="subpagetextp" style="color:#D6CDBE"><b>Last Updated August 5, 2015</b></span></p>
                    <p><span class="subpagetextp">This privacy policy governs your use of the web service by DINERSCODE (“Service”) that was created by Point Taken LLC. The Service provides customized list of restaurant perks to those who sign up through <a href="http://www.dinerscode.com" target="_blank">www.dinerscode.com</a>.</span></p>

                    <br><br>

                    <p><span class="subpagetextp" style="color:#D6CDBE"><b>User Provided Information</b></span></p>
                    <p><span class="subpagetextp">The Service obtains the information you provide when you create or modify your account, utilize the services, contact customer support or otherwise communicate with us. When you register with us and use the Service, you generally provide (a) your email address, zip code, password and other registration information; (b) transaction-related information, such as how you interact with the screen, when you dine out or respond to any offers; (c) information you provide us when you contact us for support; (d) information you enter into our system when using the Service, such as contact information. </span></p>

                    <br><br>

                    <p><span class="subpagetextp" style="color:#D6CDBE"><b>Automatically Collected Information</b></span></p>
                    <p><span class="subpagetextp">In addition, the Service may collect certain information automatically, including, but not limited to, the type of device you use, your device's unique device ID, the IP address of your device, your operating system, the type of Internet browsers you use, and information about the way you use the Service. </span></p>

                    <br><br>

                    <p><span class="subpagetextp" style="color:#D6CDBE"><b>Information Collected from Other Sources</b></span></p>
                    <p><span class="subpagetextp">We may also receive information from other sources and combine that with information we collect through our Services. For example:</span></p>
                    <ul class="subpagetextp">
                    <li>If you choose to link, create, or log in to your Dinerscode account with a payment provider (e.g., Google Wallet) or social media service (e.g., Facebook), or if you engage with a separate app or website that uses our API (or whose API we use), we may receive information about you or your connections from that site or app.</li>
                    <li>When you redeem your perks, participating restaurants may provide us with feedback  after providing services to you.</li>
                    <li>If you also interact with our Services in another capacity, for instance as a restaurant personnel or user of other services we provide, we may combine or associate that information with information we have collected from you in your capacity as a customer.</li>
                    </ul>

                    <br><br><br>

                    <p><span class="subpagetextp" style="color:#D6CDBE"><b>Use of Information</b></span></p>
                    <p><span class="subpagetextp">We may use the information we collect about you to:</span></p>
                    <ul class="subpagetextp">
                    <li>Provide, maintain, and improve our Services, including, for example, to provide products and services you request and send related information, develop new features, provide customer support to users and restaurants, authenticate and rate users, and send product updates and administrative messages.</li>
                    <li>Perform internal operations, including, for example, to prevent fraud and abuse of our Services; to troubleshoot software bugs and operational problems, to conduct data analysis, testing, and research, and to monitor and analyze usage and activity trends.</li>
                    <li>Send or facilitate communications (i) between you and the restaurant staffs or (ii) between you and a contact of yours at your direction in connection with your use of certain features, such as referrals and invites.</li>
                    <li>Send you communications we think will be of interest to you, including information about products, services, promotions, news, and events of Dinerscode and other companies, where permissible and according to local applicable laws; and to process contest, sweepstake, or other promotion entries and fulfill any related awards.</li>
                    <li>Personalize and improve the Services, including to provide or recommend features, content, social connections, referrals, and advertisements.</li>
                    </ul>

                    <br><br><br>

                    <p><span class="subpagetextp" style="color:#D6CDBE"><b>Sharing of Information</b></span></p>
                    <p><span class="subpagetextp">We may share the information we collect about you:</span></p>
                    <ul class="subpagetextp">
                    <li>With restaurants to enable them to provide the Services you request. For example, we may share your Dinercode score or rating, no-show frequency, name and other information upon request.</li>
                    <li>With third parties to provide you a service you requested through a partnership or promotional offering made by a third party or us.</li>
                    <li>With the general public if you submit content in a public forum, such as blog comments, social media posts, or other features of our Services that are viewable by the general public.</li>
                    <li>With third parties with whom you choose to let us share information, for example other apps or websites that integrate with our API or Services, or those with an API or Service with which we integrate.</li>
                    <li>As required by law, such as to comply with a subpoena, or similar legal process.</li>
                    <li>When we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request.</li>
                    <li>With our trusted services providers who work on our behalf, do not have an independent use of the information we disclose to them, and have agreed to adhere to the rules set forth in this privacy statement.</li>
                    <li>If Point Taken LLC is involved in a merger, acquisition, or sale of all or a portion of its assets, you will be notified via email and/or a prominent notice on our web site of any change in ownership or uses of this information, as well as any choices you may have regarding this information.</li>
                    <li>If we otherwise notify you and you consent to the sharing.</li>
                    <li>In an aggregated and/or anonymized form which cannot reasonably be used to identify you.</li>
                    </ul>

                    <br><br><br>

                    <p><span class="subpagetextp" style="color:#D6CDBE"><b>Data Retention Policy, Managing Your Information</b></span></p>
                    <p><span class="subpagetextp">We will retain the information we collect about you for as long as you use the Service and for a reasonable time thereafter.  If you’d like us to delete User Provided Information that you have provided via the Service, please contact us at privacy@dinerscode.com and we will respond in a reasonable time. Please note that some or all of the User Provided Information may be required in order for the Service to function properly. </span></p>

                    <br><br>

                    <p><span class="subpagetextp" style="color:#D6CDBE"><b>Children</b></span></p>
                    <p><span class="subpagetextp">We do not use the Service to knowingly solicit data from or market to children under the age of 13. If a parent or guardian becomes aware that his or her child has provided us with information without their consent, he or she should contact us at privacy@dinerscode.com. We will delete such information from our files within a reasonable time. </span></p>

                    <br><br>

                    <p><span class="subpagetextp" style="color:#D6CDBE"><b>Security</b></span></p>
                    <p><span class="subpagetextp">We are concerned about safeguarding the confidentiality of your information. We provide physical, electronic, and procedural safeguards to protect information we process and maintain. For example, we limit access to this information to authorized employees and contractors who need to know that information in order to operate, develop or improve our Service. Please be aware that, although we provide reasonable security for information we process and maintain, no security system can prevent all potential security breaches.</span></p>

                    <br><br>

                    <p><span class="subpagetextp" style="color:#D6CDBE"><b>Changes</b></span></p>
                    <p><span class="subpagetextp">This Privacy Policy may be updated from time to time for any reason. We will notify you of any changes to our Privacy Policy by posting the new Privacy Policy here or informing you via email. You are advised to consult this Privacy Policy regularly for any changes, as continued use is deemed approval of all changes.</span></p>

                    <br><br>

                    <p><span class="subpagetextp" style="color:#D6CDBE"><b>Your Consent</b></span></p>
                    <p><span class="subpagetextp">By using the Service, you are consenting to our processing of your information as set forth in this Privacy Policy now and as amended by us. "Processing,” means using cookies on a computer/hand held device or using or touching information in any way, including, but not limited to, collecting, storing, deleting, using, combining and disclosing information, all of which activities will take place in the United States. If you reside outside the United States your information will be transferred, processed and stored there under United States privacy standards. You can stop all collection of information by the Service easily by unsubscribing from the Service. You may use the standard unsubscribe processes as may be available as part of the user interface or you can request to opt-out via email, at privacy@dinerscode.com.</span></p>

                    <br><br>

                    <p><span class="subpagetextp"style="color:#D6CDBE"><b>Contact us</b></span></p>
                    <p><span class="subpagetextp">If you have any questions regarding privacy while using the Service, or have questions about our practices, please contact us via email privacy@dinerscode.com.</span></p>

                    <br><br>
            </div>
        </div>
    </div>
</div>

    {% endblock %}