{% extends "base4.html" %}

{% block title %}

Register

{% endblock %}

{% block body %}

<!-- Google Code for Sign up Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 958669047;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "gZTjCMOmlmMQ98GQyQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/958669047/?label=gZTjCMOmlmMQ98GQyQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>


<article id="register-form">
  <div class="logo" align="center">
    <a href="http://www.dinerscode.com" class="link-scroll"><img src="images/other_images/folder.jpg" style="width:45px; padding-top:50px;";alt="DinersCode"></a>
  </div>

  <div align="center">
    <h4>DINERSCODE</h4>
    <p>Register for your free, exclusive perks!</p>
  </div>

  <form class="form-style validate-form clearfix" action="{{ url_for('register') }}" method="POST">
    <section class="feature-text">
      <div class="form-group form-general-error-container" ></div>

      <center class="container">
        <div class="row">
          <div class="form-group col-xs-12 col-sm-4">
            {{ form.name(placeholder="Full Name", class_="text-field1 form-control validate-field required", **{'data-validation-type':'string'}) }}
          </div>
          <div class="form-group col-xs-12 col-sm-4">
            {{ form.age(placeholder="Your Age", class_="text-field1 form-control validate-field required", **{'data-validation-type':'number'}) }}
          </div>
          <div class="form-group col-xs-12 col-sm-4">
            {{ form.zipcode(placeholder="Your Zipcode", class_="text-field1 form-control validate-field required", **{'data-validation-type':'zipcode'}) }}
          </div>
        </div>

        <div class="row">
          <div class="form-group col-xs-12 col-sm-4">
            {{ form.cost(placeholder="Your dining cost (including tip)", class_="text-field1 form-control validate-field required", **{'data-validation-type':'number'}) }}
          </div>
          <!-- a field to prevent browser from putting saved emails in the form -->
          <div style="display: none;">
            <input class_="text-field1 form-control" type="text">
          </div>
          <div class="form-group col-xs-12 col-sm-4">
            {{ form.pass_raw(id="pass_raw", placeholder="Password", class_="text-field1 form-control validate-field required", **{'data-validation-type':'password'}) }}
          </div>
          <div class="form-group col-xs-12 col-sm-4">
            {{ form.confirm(placeholder="Confirm Password", class_="text-field1 form-control validate-field required", **{'data-validation-type':'cfm_password'}) }}
          </div>
        </div>

        <div class="form-group" align="center">   
          {{ form.submit(class_="btn btn-lg btn-outline-inverse2") }}
          <img src="images/theme_images/loader-form.GIF" class="form-loader">
        </div>

      </center>
    </section>
  </form>
  
</article><!-- .section-wrapper -->

{% endblock %}