{% extends "base4.html" %}

{% block title %}

Forget Password

{% endblock %}

{% block body %}

        <article class="section-wrapper clearfix" data-custom-background-img="images/other_images/blue.jpg"  >
          
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4"  >
            
             <div id="outer-container" style="background:rgba(0,0,0,0.0); padding-top:50px;" >
              
              <div align="center">
                <h4 style="margin-top:45px;">Reset Password</h4>
                <p>Enter your username and email address to reset your password.</p>
              </div>

              <form class="form-style validate-form clearfix" action="{{ url_for('restaurant_fgpwd') }}" method="POST">
                <section class="feature-text">
                  <div class="form-group form-general-error-container"></div>
                  <center>
                  <div class="form-group" style="max-width:500px;">
                    {{ form.name(placeholder="DinersCode Username", class_="text-field1 form-control validate-field required") }}
                  </div>  
                  <div class="form-group" style="max-width:500px;">
                    {{ form.email(placeholder="Email Address", class_="text-field1 form-control validate-field required", **{'data-validation-type':'email'}) }}
                  </div>  
                  </center>
                  <div class="form-group" align="center"> 
                    {{ form.submit(class_="btn btn-lg btn-outline-inverse") }}
                    <img src="images/theme_images/loader-form.GIF" class="form-loader">  
                  </div>
                </section>
              </form>

              <div align="center">
                <p>Click <a href="/rating_login">here</a> to login.</p>
              </div>

            </div><!-- .col-sm-10 -->
            <div class="col-lg-4">
            </div>
           </div>
        </article><!-- .section-wrapper -->

{% endblock %}